parameters:
	ignoreErrors:
		-
			message: '#^Method Logingrupa\\Metapixelshopaholic\\Classes\\Queue\\SendCapiEvent\:\:extractFirstEvent\(\) should return array\<string, mixed\> but returns array\<mixed\>\.$#'
			identifier: return.type
			count: 1
			path: classes/queue/SendCapiEvent.php

		-
			message: '#^Method Logingrupa\\Metapixelshopaholic\\Models\\EventLog\:\:subject\(\) should return October\\Rain\\Database\\Relations\\MorphTo but returns October\\Rain\\Database\\Relations\\BelongsTo\.$#'
			identifier: return.type
			count: 1
			path: models/EventLog.php
