<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         bootstrap="../../../modules/system/tests/bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         beStrictAboutOutputDuringTests="false"
>
    <testsuites>
        <testsuite name="Metapixelshopaholic Unit Tests">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Metapixelshopaholic Feature Tests">
            <directory>./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <file>./Plugin.php</file>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
    </php>
</phpunit>
